#flexcontainerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  letter-spacing: .1rem;
  font-size: 28px;
}
#flexcontainerbuttons {
  display: flex;
  flex-direction: row;
  width: 40rem;
  justify-content: space-between;
}
#flexcontainerbuttons > * {
  letter-spacing: .1rem;
  font-size: 28px;
  font-weight: bolder;
}
#userinfo {
  font-size: 16px;
  font-weight: bold;
}
#credits {
  font-size: 12px;
}