#flexcontainerlist {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted;
}
#flexcontainerminilist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .5rem;
}
#flexcontainerlist > * {
  padding-bottom: 1rem;
  width: auto;
  font-size: 18px;
}
#quality {
  display: flex;
  flex-direction: row;
}
#bold {
  font-weight: bolder;
}